@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

/* Global Font */
body {
  font-family: "Open Sans", serif;
}

/* Space behind the Main */
.wrapper {
  background: linear-gradient(to right, #9bb7c4, #da8dd6);
  height: 145vh;
  padding-top: 5%;
  align-items: center;
}

/* Space behind image */
.main {
  height: 90vh;
  background: #fff;
  box-shadow: 0px 13px 40px -13px rgba(0, 0, 0, 0.75);
  width: 80%;
  margin: auto;
}

/* Background Image + Title Font (Doesn't go fullscreen well because of the main. ¯\_(ツ)_/¯ I should prob fix that.)*/
.title-container {
  height: 100vh;
  background-image: url("img/bg.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5%;
  color: rgba(0, 0, 0, 0.836);
  text-shadow: rgba(255, 255, 255, 0.692) 1px 0 5px;
}

/* Default Input Text */
input[type="text"] {
  background-color: #ffffff00;
  border: none;
  border-bottom: solid 2px #a86ed7;
  width: 31%;
  font-style: italic;
  margin: 10px;
  font-size: 15px;
  text-align: center;
}

/* Autofill Transparency Trick */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}

/* Button CSS */
button {
  border: none;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 5px;
  font-size: 18px;
  background-color: #ad6ed7;
  color: #fff;
  font-weight: 100;
}